<ion-view view-title="New Item">

    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="secondary">
            <button class="button button-clear button-large" ng-click="doSomething()">
                SEND <i class="ion ion-ios-paperplane"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div class="row">
            <div class="col">
                <strong>Did you see any of these is the trash?</strong>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col">
                <div>
                    <img src="img/drawable/mosquitoes_off.png" width="40%">
                </div>
                Mosquitoes
                <div>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="img/drawable/cock_off.png" width="40%">
                </div>
                Cockroaches
                <div>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: center;">
            <div class="col">
                <div>
                    <img src="img/drawable/mice_off.png" width="40%">
                </div>
                Rats
                <div>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="img/drawable/biohazard_off.png" width="40%">
                </div>
                Flies
                <div>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Others">
                    </label>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <strong>Do you think the garbage came from</strong>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col">
                <div>
                    <img src="img/drawable/houses_off.png" width="40%">
                </div>
                Houses
                <div>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="img/drawable/business_off.png" width="40%">
                </div>
                Businesses
                <div>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="img/drawable/construction_off.png" width="40%">
                </div>
                Constructions
                <div>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Others">
                    </label>

                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col">
                <label for="siteimage">Image of the site</label>
                <input id="siteimage" name="siteimage" type="file" id="exampleInputFile">
            </div>
        </div>-->

        <div class="row">
            <div class="col">
                <div class="list list-inset">
                    <label class="item item-input">
                        <textarea rows="3" placeholder="Description"></textarea>
                    </label>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>